@layout('emails/layout')

@section('body')
  <p>Oá, {{ name }}!</p>
  <p>Sua senha foi alterada hoje, {{ date }} às {{ time }}hs.</p>
  <p>
    Caso não foi você que tenha feito essa ação<br/>
    Entre em contato IMEDIATAMENTE com o nosso suporte!
  </p>
  <p><small>IP {{ logs }}<small></p>
@end
